.DS_Store
log/**/*
tmp/**/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
.*.sw*
db
public
log.txt
local.txt
aritywolf_redir.txt
artywalf_redir.txt
main_request_log.txt
page_views.txt
Gemfile.lock
Gemfile
hitches.txt
config/puma.pid
config/puma.state
page_views_local.txt
