

body {
	color: white;
    background-color: rgb(85, 115, 145);
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;

}


.text
{
	color: white;
	background-color: lightslategray;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	display: flex;
}

.node {
	flex: 1;
	flex-basis: auto;
}


a:link {
	color:rgb(39, 38, 38);

}

a:visited {
	color:rgb(255, 255, 255);
}


a:active {
	color:red;
}


div.galleryTable {
  width: 100%;
  height: 100%;
  font-size: 1;

}


.divTable.galleryTable .divTableCell, .divTable.galleryTable .divTableHead {


}
.divTable{ display: table; }
.divTableRow { display: table-row; }
.divTableHeading { display: table-header-group;}
.divTableCell, .divTableHead { display: table-cell;}
.divTableHeading { display: table-header-group;}
.divTableFoot { display: table-footer-group;}
.divTableBody { display: table-row-group;}
