<div style="text-align: center;">
  <div id='entry' style='border:2px black solid; font-size:42px; display: inline-block;'>
<form enctype='multipart/form-data' action=/blog/login method="POST">
  <fieldset>
    <legend><font size="2">Login to the Blog/Gallery Space, with other features coming soon...</font></legend>
    <label for="blog_user_name"><font size="2">Blog Name:</font></label>
    <input type="text" id="blog_user_name" name="blog_user_name"><br><br>
    <label for="blog_password_name"><font size="2">Blog Password:</font></label>
    <input type="password" id="blog_password_name" name="blog_password_name"><br><br>
    <label for="super_password"><font size="2">Superpassword Check:</font></label>
    <input type="password" id="super_password" name="super_password"><br><br>
  </fieldset>
    <input type="submit" value="Attempt To Login...">
  </form>
  </div>
  </div>
