<div>
    <center>
        <form action="/gallery/upload/url" method="post">
            <div>
                <h1><label for="url">URL</label><!-- Changed header size here -->
                <input type="text" class="form-control" id="url" name="url" placeholder="Enter URL">
                </h1>
            </div>

            <div>
                <button type="submit">Submit</button>
                <button type="reset">Clear</button>
            </div>
        </form>
    </center>
</div>
